@model List<DoAn.Models.Product>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutPage.cshtml";
   }

<form action="/products/index" method="post" class="d-flex flex-row align-items-center flex-wrap">
    <label for="search" class="mx-2 my-1">Search</label>
    <input type="search" name="search" id="search" placeholder="Search" value="@ViewBag.Search" />
</form>
@if (Session["ID"] == null)
{
    <a href="/Products/Create">Create</a>
    <table class="table w-50 m-auto">
        <thead>
            <tr>
                <td>ID</td>
                <td>Name</td>
                <td>Anh</td>
                <td>Descrip</td>
                <td>Price</td>
                <td>Brand</td>
                <td>Edit</td>
                <td>Delete</td>
            </tr>
        </thead>
        <tbody>
             @foreach (var item in Model)
             {
                <tr>
                    <td>@item.ProductID</td>
                    <td>@item.ProductName</td>
                    <td><img src="~/Contents/images/@item.ProductImage" /> </td>
                    <td>@item.Description</td>
                    <td>@item.Price</td>
                    <td>@item.Brand.BrandName</td>
                    <td><a href="/products/edit?id=@item.ProductID">Edit</a></td>
                    <td><a href="/products/delete?id=@item.ProductID">Delete</a></td>
                    @*<td><a href="/Cart/Muasp?id=@item.ProductID">Add to cart</a></td>*@
                </tr>
             }
            <tr>
                <td colspan="7">
                    <ul class="pagination justify-content-center">
                        @for (int i = 0; i < ViewBag.SoTrang; i++)
                        {
                            if (i + 1 == ViewBag.Page)
                            {
                                <li class="page-item active">
                                    <a class="page-link" href="/products/index?page=@(i + 1)">@(i + 1)</a>
                                </li>
                            }
                            else
                            {
                                <li class="page-item">
                                    <a class="page-link" href="/products/index?page=@(i + 1)">@(i + 1)</a>
                                </li>
                            }
                        }
                    </ul>
                </td>
            </tr>
        </tbody>
    
    </table>
}
else
{
    <div class="title-wrapper">
        <h2 class="main-title">Sản Phẩm</h2>
    </div>
    <div class="row">
        @foreach (var item in Model)
        {
            <div class="col-4">
                <a href="/Products/XemChiTiet?msp=@item.ProductID">
                    <div class="product-item">
                        <div class="product-image">
                            <img src="../Contents/images/@item.ProductImage"  />
                        </div>
                        <div class="product-description">
                            <h3>@item.ProductName</h3>
                            <div class="product-price">
                                <b>@item.Price</b>
                            </div>
                            <div class="product-add-cart">
                                <a href="/Cart/muaNgay?msp=@item.ProductID">
                                    <div class="product-buy-now-btn product-btn">
                                        Mua ngay
                                    </div>
                                </a>
                                <a href="/Cart/themVaoGioHang?msp=@item.ProductID">
                                    <div class="product-buy-now-btn product-btn">
                                        Thêm vào giỏ hàng
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        }
        <ul class="pagination justify-content-center">
            @for (int i = 0; i < ViewBag.SoTrang; i++)
            {
                if (i + 1 == ViewBag.Page)
                {
                    <li class="page-item active">
                        <a class="page-link" href="/products/index?page=@(i + 1)">@(i + 1)</a>
                    </li>
                }
                else
                {
                    <li class="page-item">
                        <a class="page-link" href="/products/index?page=@(i + 1)">@(i + 1)</a>
                    </li>
                }
            }
        </ul>

     </div>
}
