@model List<DoAn.Models.Order>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutPage.cshtml";
}

<a href="/Products/Create">Create</a>
<table class="table w-50 m-auto">
    <thead>
        <tr>
            <td>ID</td>
            <td>Tên khách hàng</td>
            <td>Ngày đặt</td>
            <td>Tổng số lượng</td>
            <td>Tình trạng</td>
            <td>Edit</td>
            <td>Delete</td>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                @if (@item.OrderStatus != "Xác nhận" && @item.OrderStatus != "Xử lý" )
                {
                    <td>@item.OrderID</td>
                    <td>@item.User.Username</td>
                    <td>@item.OrderDate</td>
                    <td>@item.TotalAmount</td>
                    <td>@item.OrderStatus</td>
                }
                else
                {
                    <td>@item.OrderID</td>
                    <td>@item.User.Username</td>
                    <td>@item.OrderDate</td>
                    <td>@item.TotalAmount</td>
                    <td>@item.OrderStatus</td>
                    <td><a href="/DonHang/comfirm?id=@item.OrderID">Xác nhận</a></td>
                    <td><a href="/DonHang/cancel?id=@item.OrderID">Hủy đơn</a></td>
                }
                @*<td><a href="/Cart/Muasp?id=@item.ProductID">Add to cart</a></td>*@
            </tr>
        }
        <tr>
            <td colspan="7">
                <ul class="pagination justify-content-center">
                    @for (int i = 0; i < ViewBag.SoTrang; i++)
                    {
                        if (i + 1 == ViewBag.Page)
                        {
                            <li class="page-item active">
                                <a class="page-link" href="/products/index?page=@(i + 1)">@(i + 1)</a>
                            </li>
                        }
                        else
                        {
                            <li class="page-item">
                                <a class="page-link" href="/products/index?page=@(i + 1)">@(i + 1)</a>
                            </li>
                        }
                    }
                </ul>
            </td>
        </tr>
    </tbody>

</table>